@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');

:root {
    --font-size-xxlg: 72px;
    --font-size-xlg: 48px;
    --font-size-lg: 28px;
    --font-size-md: 24px;
    --font-size-sm: 16px;
    --font-size-xsm: 14px;

    --font-weight-bold: 600;
    --font-weight-semibold: 400;
    --font-weight-regular: 300;
    --font-weight-light: 200;

    --color-accent: #224A98;
    --color-bg: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.color-accent {
    color: var(--color-accent);
}
.color-text {
    color: black;
}
.font-family-heading {
    font-family: "Montserrat", sans-serif;
}
.font-family-text {
    font-family: sans-serif;
}

.font-size-xsm {
    font-size: var(--font-size-xsm);
}
.font-size-sm {
    font-size: var(--font-size-sm);
}
.font-size-md {
    font-size: var(--font-size-md);
}
.font-size-lg {
    font-size: var(--font-size-lg);
}
.font-size-xlg {
    font-size: var(--font-size-xlg);
}
.font-size-xxlg {
    font-size: var(--font-size-xxlg);
}
.font-weight-bold {
    font-weight: 600;
}
.font-weight-semibold {
    font-weight: 500;
}
.font-weight-regular {
    font-weight: 400;
}
.font-weight-light {
    font-weight: 200;
}
.text-align-justify {
    text-align: justify;
}
.text-align-center {
    text-align: center;
}

body {
    padding: 50px 200px;
    background: linear-gradient(90deg, rgba(159,191,252,0.5) 0%, rgba(255,255,255,0.6508081259847689) 50%, rgba(159,191,252,0.5) 100%);
}

header {
    padding: 50px 100px 100px 100px;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header nav {
    border-bottom: 3px solid rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 5px;
}


header .header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top > div {
    flex: 1;
}

.header-top .title {
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-top .city-logo {
    height: 40px;
}

.header-top .ztu-logo {
    text-align: end;
}

.header-top .ztu-logo span {
    font-size: .8rem;
}

.header-top .ztu-logo img {
    height: 40px;
}

header nav ul {
    display: flex;
    gap: 5vw;
    list-style-type: none;
    text-align: center;
}

header nav ul > li {
    display: flex;
    flex: 1;
}

header nav ul > li {
    white-space: nowrap;
}

header nav ul > li a {
    text-decoration: none;
    padding: 25px 50px;
    color: black;
    font-weight: 500;
    font-size: 1rem;
}

header nav ul > li a:hover {
    background: rgba(0, 0, 0, 0.81);
    color: white;
    border-radius: 10px;
}

header > h1 {
    font-size: 2rem;
    text-align: center;
    padding: 100px 150px;
    transform: scale(1.2);
    transition-duration: 1.5s;
}

h1 span {
    font-size: 3rem;
    display: block;
}

.section-intro > .content {
    display: flex;
    margin-bottom: 150px;
}

.content-qr {
    flex-direction: row-reverse;
}

.section-intro > .content > div {

    flex: 1;
}

.section-intro > .content > div:first-child {
    position: relative;
}

.section-intro > .content-authors {
    flex-direction: column;
    align-items: center;
    margin-top: 290px;
}

.section-intro > .content-authors > div:first-child {
    width: 100%;
}

.section-intro > .content > div > span {
    border-radius: 10px;
    width: 100%;
    position: absolute;
    z-index: 2;
    display: block;
    padding: 50px;
    background: white;
}

.section-intro > .content-info > div > span {
    top: 25%;
    left: 25%;
}

.section-intro > .content-qr > div > span {
    top: 25%;
    right: 25%;
}

.section-intro > .content-authors > div > span {
    width: 50%;
    left: 25%;
    top: -140px;
}



